<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer #<%= @customer.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Industry type</dt>
              <dd><%= @customer.industry_type_id %></dd>

              <dt>Space type</dt>
              <dd><%= @customer.space_type_id %></dd>

              <dt>Business</dt>
              <dd><%= @customer.business_id %></dd>

              <dt>Country</dt>
              <dd><%= @customer.country %></dd>

              <dt>Zip</dt>
              <dd><%= @customer.zip %></dd>

              <dt>State</dt>
              <dd><%= @customer.state %></dd>

              <dt>City</dt>
              <dd><%= @customer.city %></dd>

              <dt>Website</dt>
              <dd><%= @customer.website %></dd>

              <dt>Company</dt>
              <dd><%= @customer.company %></dd>

              <dt>Last name</dt>
              <dd><%= @customer.last_name %></dd>

              <dt>First name</dt>
              <dd><%= @customer.first_name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/customers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/customers/<%= @customer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_customer/<%= @customer.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
